.navbar-brand {
    font-family: fantasy;
    /* font-weight: bold; */
    font-size: 40px;  
    text-shadow: 3px 4px 5px black;

}
#about{
    font-size: 18px;
    margin-top: 15px;

    
}
#weather{
    background:#3b6363;
    color: black
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../image/hik1.jpg);
}
#weather-data{
    background: white;
}

#map {
    border: 1px solid black;
    height: 400px;
}

.trail-viewer, .weather-viewer {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

th {
    align-content: center;
    
   
}

#table-data {
    align-content: center;
    background: white;
}
.container-fluid{
    background-color:#3b6363;
    color: black;
    
}
 #table{
    background:white;
    color: black 
}
#data{
    background: #3b6363;
}
#temp{
    background: white;
    color: black;
}
footer, .push {
    height: 80px;
  }
  
#footer {
    background-color: #666666;
    border-top: 8px solid darkslategray;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
  }
  
  #footer {
    margin: 0px;
  }
    
    