.navbar-brand {
    font-family: fantasy;
    /* font-weight: bold; */
    font-size: 40px;
    background: lightseagreen;  

}
#about{
    font-size: 18px;
    margin-top: 15px;

    
}
#weather{
    background: green;
    color: black
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rosybrown;}
#weather-data{
    background: lightblue;
}

#map {
    border: 1px solid black;
    height: 400px;
}

.trail-viewer, .weather-viewer {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

th {
    align-content: center;
    
   
}

#table-data {
    align-content: center;
    background: burlywood;
}
.container-fluid{
    background-color:#3b6363;
    color: blanchedalmond;
    
}
 #table{
    background:lightseagreen;
    color: black 
}
#data{
    background: brown;
}
#temp{
    background: grey;
    color: black;
}
    
    